.MainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.8rem 3rem 1.8rem 3rem;
  background-color: #023867;
  color: white;
  gap: 2.2rem;
  border-bottom: 15px solid black;
}

.LinksContainer {
  display: flex;
  gap: 4.45rem;
}

.LinksHeading {
  background-color: #012545;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  border-radius: 5px;
  cursor: pointer;
  width: 14rem;
  letter-spacing: 3px;
}

.LinksHeading:hover {
  background-color: #00182d;
  color: white;
}

.UsefulLinks {
  text-decoration: none;
  color: white;
}

.UsefulLinks:hover {
  text-decoration: none;
  color: white;
}
