.MainCapsuleContainer {
  display: flex;
  justify-content: space-between;
  margin: 2rem 7rem 1rem 7rem;
}

.CapsuleHeading {
  width: 16rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: #157dc2db;
  color: white;
  padding: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}
