.NavBarContainer {
  color: white;
  background-color: #174973;
  font-size: 0.95rem;
}

.NavListContainer {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0.5rem;
  padding-right: 5.5rem;
  padding-inline-start: 5.5rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.RightNavList {
  margin-left: auto;
}
